.wrapper {
    position: relative;
    
    
  }
  .turntable-background{
    position: absolute;
    border-radius: 50%;
  }
  .turntable-pointer{
    position: absolute;
    width: 56px;
    height: 62px;
    top: -12px;
    left: calc(50% - 28px);
  }
  
  .panel {
    position: relative;
    margin: 0 auto;
    top: 28px;
    transform: rotateZ(0deg);
    transform-origin: 'center center';
    -webkit-transform-origin: 'center center';
    transition: transform 3s ease-in-out;
  }
  
  .sector {
    position: absolute;
    top: 0px;
    font-size: 14px;
    overflow: hidden;
    transform-origin: left center;
  }
  
  .sector-inner {
    text-align: center;
    display: block;
    transform-origin: right center;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: inset 3px -3px 14px rgba(251, 160, 160, 0.6);
  }
  .sector-inner span {
    display: block;
    color: #d46854;
  }
  
  .content {
    white-space:normal;
    word-break:break-all;
    transform: translateY(20px);
    max-width: 50%;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #CF5A59;
    &.max{
      transform: translateY(12px);
    }
  }
  
  .success-animation{
    position: fixed;
    z-index: -1;
    width: 100%;
    top: 40px;
  }
  
  
  .base-btn-wrapper{
    position: absolute;
    top: calc(50% - 46px);
    left: calc(50% - 46px);
    z-index: 88;
  }
  .btn-bg-wrapper{
    position: relative;
    width: 84px;
    height: 84px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #FFDFA9 0%, #FFA60F 100%);
    border: 4px solid #FFFFFF;
    box-shadow: 0px 0px 30px #FD5F5E;
  }
  
  .btn-bg{
    padding: 7px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: linear-gradient(180deg, rgba(252, 255, 105, 0) 36.72%, #FFFFFF 100%);
    opacity: 0.6;
    filter: blur(3px);
  }
  .btn-title{
    position: absolute;
    font-weight: 900;
    font-size: 26px;
    line-height: 31px;
    text-align: center;
    color: #E96E14;
  }

  .turntable-pointer{
    position: absolute;
    width: 56px;
    height: 62px;
    top: -12px;
    left: calc(50% - 28px);
  }

  .option-img-item{
    position: absolute;
    top: 60px;
    width: 60px;
    height: 60px;
    object-fit: cover;
  }